@import '../../styles/variables.scss';

:root {
  --rowHeight: 30px; // gets overwritten by JS
  --firstRowHeight: 80px;
  --colWidth: 225px;

  @media screen and (max-width: 1535px) {
    --colWidth: 200px;
  }

  @media screen and (max-width: 1370px) {
    --colWidth: 175px;
  }
}

.scheduleWrapper {
  background-color: $black-backgr;
  margin: 0 10%;
}


.schedule {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50px repeat(5, var(--colWidth));
  max-width: 1200px;
  width: calc(50px + 5 * var(--colWidth));
  margin: 0 auto;
}

.dayColumn {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px 1fr;
}

.colHeader {
  text-align: center;

  h2 {
    font-size: 2rem;;
  }

  p {
    color: white;
  }
}

.colHours {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--firstRowHeight) - var(--rowHeight) / 2);
}

.hour {
  height: var(--rowHeight);
  display: flex;
  align-items: center;
  
  p {
    color: white;
  }
}

.colEvents {
  position: relative;
}

.event {
  position: absolute;
  background-color: $white90;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  box-shadow: 2px 3px 4px black;

  h3, h4, p {
    color: black;
  }

  h3, p {
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-family: 'Franklin Gothic', sans-serif;
    text-transform: none;
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  p {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }

}

.infoWrapper {
  display: flex;

  svg {
    flex-shrink: 0;
    height: 17px;
    width: 17px;
    margin-right: 0.25rem;
  }
}

.backgroundLines {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.backgroundLine {
  height: var(--rowHeight);
  background-image: linear-gradient(to right, $white50 50%, rgba(255, 255, 255, 0) 20%);
  background-position: top left;
  background-size: 25px 2px;
  background-repeat: repeat-x;
}