@import '../../styles/variables.scss';

.singleFAQ {
  margin-top: 0.75rem;
}

.question {
  h2 {
    font-size: 1.5rem;
    @include addBottomPadding(1.5rem);
    line-height: 1.2;
    color: $orange;
    margin-bottom: 0rem;
  }
}