/* Transitions for ArtistInfo (Bio and Image) */

 /* slideDown on enter */
 .enter,
 .appear {
   opacity: 0;
   transform: translateY(-100%);
 }

 .enter.enterActive,
 .appear.appearActive {
   opacity: 1;
   transform: translateY(0);
   transition: all 500ms ease-out;
 }
 

 /* slideDown exit */
 .exit {
   opacity: 1;
   transform: translateY(0);
 }
 
 .exit.exitActive {
   opacity: 0;
   transform: translateY(-100%);
   transition: all 500ms ease-in;
 }

 
@media screen and (max-width: 950px) {
  /* slide in from right */

  .enter,
  .appear {
    opacity: 0;
    transform: translateX(100%);
  }

  .enter.enterActive,
  .appear.appearActive {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease-out;
  }

    /* slide out to right exit */
  .exit {
    opacity: 1;
    transform: translateX(0);
  }

  .exit.exitActive {
    opacity: 0;
    transform: translateX(100%);
    transition: all 500ms ease-in;
  }
}