/* Variables */

$background-blue: rgba(57, 120, 140, 0.8); //rgba(57, 130, 140, 0.65);
$orange: #BF8149;
$white90: rgba(255, 255, 255, 0.9);
$white15: rgba(255, 255, 255, 0.15);
$black-backgr: rgba(0, 0, 0, 0.6);
$blacker-backgr: rgba(0, 0, 0, 0.65);

$black-light: rgba(0, 0, 0, 0.4);
$black-medium: rgba(0, 0, 0, 0.65);
$black-dark: rgba(0, 0, 0, 0.75);
$black-darkest: rgba(0, 0, 0, 0.9);

$breakpoint-max: 950px;
$breakpoint-min: 951px;

/* Mixin */

@mixin addBottomPadding($font-size) {
  &::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(#{$font-size}/4);
  }

  
  @media (hover: none) and (pointer: coarse) {
    padding: calc(#{$font-size}/9.1) 0;
    &::after {
      margin-top: calc(#{$font-size}/6.4 * -1);
      padding-bottom: 0;
    }
    
    @media all and (min--moz-device-pixel-ratio:0) and (max-width: 950px) {
      &::after {
        margin-top: calc(#{$font-size}/6.4 * -1);
        padding-bottom: 0;
      }
    }

  }
}