/* Page transitions */
:root {
  --delay: 900ms;
}

/* Home page */

.home-enter,
.home-appear {
  .ribbonWrapper {
    --skew: 0deg;
    width: 1000px;
    transform: translateX(-200%) skewX(var(--skew));
  }

  .ribbonContent {
    visibility: hidden;
    opacity: 0;
  }

  .dateWrapper {
    visibility: hidden;
    opacity: 0;
  }
}

.home-enter-active,
.home-appear-active {
  --delay: 0ms;
  .ribbonWrapper {
    --skew: 15deg;
    transform: translateX(0) skewX(var(--skew));
    width: 375px;
    transition: transform 300ms var(--delay) ease-out, width 300ms calc(300ms + var(--delay)) ease-out;
  }
  
  .ribbonContent {
    visibility: visible;
    opacity: 1;
    transition: all 300ms calc(600ms + var(--delay)) ease-in;
  }

  .dateWrapper {
    visibility: visible;
    opacity: 1;
    transition: all 900ms var(--delay) ease-in-out;
  }
}

.home-enter-active {
  --delay: 900ms;
}

.home-exit {
  .ribbonWrapper {
    --skew: 15deg;
    transform: translateX(0) skewX(var(--skew));
    width: 375px;
  }
  
  .ribbonContent {
    visibility: visible;
    opacity: 1;
  }

  .dateWrapper {
    visibility: visible;
    opacity: 1;
  }
}

.home-exit,
.home-exit-active {
  .ribbonWrapper {
    --skew: 0deg;
    width: 1000px;
    transform: translateX(-200%) skewX(var(--skew));
    transition: transform 500ms 500ms, width 500ms 200ms;
  }
  
  .ribbonContent {
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
  }

  .dateWrapper {
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
  }
}

.home-enter-done {
  .ribbonWrapper {
    // --skew: 0deg;
  }
}

/* Register page */

.register-enter,
.register-appear {
 
}

.register-enter-active,
.register-appear-active {
  
}

.register-enter-active {

}

.register-exit {

}

.register-exit,
.register-exit-active {
  
}

.register-enter-done {
 
}