@import '../../styles/variables.scss';

.gridContainer {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  > div {
    grid-column: 1;
    grid-row: 1;
  }
}

// .contentWrapper {
//   position: relative;
//   flex-grow: 1;
//   // height: 100%;
//   height: min-content;
// }

// .routeSection {
//   position: absolute;
//   width: 100%;
//   top: 0;
//   // right: 0;
//   bottom: 0;
//   left: 0;
//   display: flex;
//   justify-content: center;
// }