/* Page transitions */
:root {
  --delay: 0ms;
}
.home-enter-active,
.register-enter-active,
.artists-enter-active,
.single-page-enter-active {
  --delay: 1200ms;
}

/* Home page */

.home-enter,
.home-appear {
  .ribbonWrapper {
    // --skew: 0deg;
    width: 1100px;
    transform: translateX(-300%) skewX(0deg);
  }

  .ribbonContent {
    visibility: hidden;
    opacity: 0;
  }

  .dateWrapper {
    visibility: hidden;
    opacity: 0;
  }
}

.home-enter-active,
.home-appear-active {
  .ribbonWrapper {
    // --skew: 15deg;
    transform: translateX(0) skewX(15deg);
    width: 375px;
    transition: transform 400ms var(--delay) ease-out, width 400ms calc(400ms + var(--delay)) ease-out;
  }
  
  .ribbonContent {
    visibility: visible;
    opacity: 1;
    transition: all 400ms calc(800ms + var(--delay)) ease-in;
  }

  .dateWrapper {
    visibility: visible;
    opacity: 1;
    transition: all 900ms var(--delay) ease-in-out;
  }
}

.home-exit {
  .ribbonWrapper {
    // --skew: 15deg;
    transform: translateX(0) skewX(15deg);
    width: 375px;
  }
  
  .ribbonContent {
    visibility: visible;
    opacity: 1;

    h3 {
    // --skew: -15deg;
    transform: skewX(-15deg);
    }
  }

  .dateWrapper {
    visibility: visible;
    opacity: 1;
  }
}

.home-exit,
.home-exit-active {
  .ribbonWrapper {
    // --skew: 0deg;
    width: 1200px;
    transform: translateX(-200%) skewX(0deg);
    transition: transform 350ms 700ms, width 350ms 350ms;
  }
  
  .ribbonContent {
    visibility: hidden;
    opacity: 0;
    transition: all 350ms;
  }

  .dateWrapper {
    visibility: hidden;
    opacity: 0;
    transition: all 350ms;
  }
}


/* Register page */

.register-enter,
.register-appear {
  .blackBackground {
    justify-self: end;
    width: 200%;
    transform: translateX(-200%);
  }
  
  .hideContent > * {
    visibility: hidden;
    opacity: 0;
  }
}

.register-enter-active,
.register-appear-active {
  .blackBackground {
    width: 100%;
    transform: translateX(0);
    transition: transform 400ms var(--delay), width 400ms calc(400ms + var(--delay));
  }
  
  .hideContent > * {
    visibility: visible;
    opacity: 1;
    transition: all 400ms calc(800ms + var(--delay)) ease-in;
  }
}

.register-exit {
  .blackBackground {
    width: 100%;
    transform: translateX(0);
  }
  
  .hideContent > * {
    visibility: visible;
    opacity: 1;
  }
}

.register-exit,
.register-exit-active {
  .blackBackground {
    justify-self: end;
    width: 200%;
    transform: translateX(-200%);
    transition: width 300ms 300ms ease-in-out, transform 600ms 600ms ease-in-out;
  }
  
  .hideContent > *{
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
}

.register-enter-done {
  .blackBackground {
    width: 100%;
    transform: translateX(0);
  }
}


/* Artists page */

.artists-enter,
.artists-appear {

  .blackBackground {
    justify-self: end;
    width: 400px;
    transform: translateX(-100%);
  }

  .hideContent * {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.artists-enter-active,
.artists-appear-active {

  .blackBackground {
    justify-self: end;
    width: 325px;
    transform: translateX(0);
    transition: transform 400ms var(--delay) ease-out, width 400ms calc(400ms + var(--delay)) ease-out !important;
  }

  .hideContent * {
    opacity: 1;
    visibility: visible;
    transition: all 400ms calc(800ms + var(--delay)) ease-in;
  }
}

.artists-exit {

  .blackBackground {
    justify-self: end;
    width: 325px;
    transform: translateX(0);
  }

  .hideContent * {
    opacity: 1;
    visibility: visible;
  }

  .bioWrapper,
  .imageWrapper {
    opacity: 1;
    transform: translateY(0);
  }
}

.artists-exit-active {

  .blackBackground {
    justify-self: end;
    width: 400px;
    transform: translateX(-100%);
    transition: width 400ms 400ms, transform 400ms 800ms;
  }

  .hideContent * {
    opacity: 0;
    visibility: hidden;
    transition: 400ms;
  }

  .bioWrapper,
  .imageWrapper {
    opacity: 0;
    transition: all 500ms ease-in;
  }

  .bioWrapper {
    transform: translateY(100%);
  }

  .imageWrapper {
    transform: translateY(-100%);
  }
}


/* All single pages */

.single-page-enter,
.single-page-appear {
  > div {
    transform: translateX(-150%);
    width: 150%;
    justify-self: right;
  }
}

.single-page-enter.single-page-enter-active,
.single-page-appear.single-page-appear-active {
  > div {
    transform: translateX(0);
    width: 100%;
    justify-self: right;
    transition: transform 400ms var(--delay), width 400ms calc(var(--delay) + 400ms);
  }
}

.single-page-exit {
  > div {
    transform: translateX(0);
    width: 100%;
    justify-self: right;
  }

  > div > * {
    visibility: visible;
    opacity: 1;
  }
}

.single-page-exit.single-page-exit-active {
  > div {
    transform: translateX(-150%);
    width: 150%;
    justify-self: right;
    transition: width 400ms 400ms, transform 400ms 800ms;
  }

  > div > * {
    visibility: hidden;
    opacity: 0;
    transition: all 400ms;
  }
}



/* All pages on mobile */

.mobile-enter,
.mobile-appear {
  opacity: 0;
  visibility: hidden;
}

.mobile-enter-active,
.mobile-appear-active {
  opacity: 1;
  visibility: visible;
  transition: all 300ms;
}

.mobile-exit {
  opacity: 1;
  visibility: visible;
}

.mobile-exit-active {
  opacity: 0;
  visibility: hidden;
}

