@import '../../styles/variables.scss';

.artists {
  max-height: calc(100vh - 125px);
  position: relative;
  flex-grow: 1;
  display: flex;
  padding: 0 4.5rem;

  @media screen and (max-width: 950px) {
    max-height: none;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }
}