@import '../../styles/variables.scss';

.artists {
  display: grid;
  grid-template-columns: 325px auto;
  grid-template-rows: auto;
  // max-height: calc(100vh - 125px);
  position: relative;
  flex-grow: 1;
  margin: 0 10%;

  @media screen and (max-width: $breakpoint-max) {
    display: flex;
    flex-direction: column;
    max-height: none;
    margin: 1rem;
    padding: 0;
  }

  @media screen and (max-width: 425px) {
    margin: 0.75rem;
  }
}