@import '../../styles/variables.scss';

/* CSS Transition for Navbar */

@media screen and (max-width: 950px) {

.enter {
  max-height: 80px;
  background-color: $black-backgr;

  a {
    visibility: hidden;
    opacity: 0;
  }
}

.enter.enterActive {
  max-height: 500px;
  background-color: $black-darkest;
  transition: all 500ms;
  
  a {
    visibility: visible;
    opacity: 1;
    transition: all 500ms;
  }
}

.enterDone {
  max-height: 500px;
  background-color: $black-darkest;
  
  a {
    visibility: visible;
    opacity: 1;
  }
}


.exit {
  max-height: 500px;
  background-color: $black-darkest;
  
  a {
    visibility: visible;
    opacity: 1;
  }
}
 
.exit.exitActive {
  max-height: 80px;
  background-color: $black-backgr;
  transition: all 500ms;
  
  a {
    visibility: visible;
    opacity: 0;
    transition: all 500ms;
  }
}

}