@import '../../styles/variables.scss';

/* Desktop and mobile styling */

.regButton {
  grid-area: regButton;
  
  p {
    text-transform: none;
    color: white;
    margin-bottom: 0.5rem;
  }

  a {
    text-decoration: underline;
    color: white;
    transition: color 200ms;
    
    &:hover {
      color: $orange;
    }
  }


  @media screen and (min-width: $breakpoint-min) {
    text-align: center;
    padding: 3rem 0;
    background-color: $black-backgr;

    p {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: $breakpoint-max) {
    text-align: center;

    h2 {
      font-size: 1.75rem;
      @include addBottomPadding(1.75rem);
    }
    
    p {
      font-size: 1.25rem;
    }
  }
}

.button {
  margin-bottom: 1rem;

  h2 {
    box-sizing: border-box;
    padding: 0.3rem 0.45rem;
    display: inline-block;
    border: solid 4px white;
  }

}


/* Desktop styling */

.registerDesktop {
  justify-self: center;
  margin: 0 10%;

  font-family: 'Neptune', sans-serif;
  text-transform: uppercase;
  color: white;

  display: grid;
  grid-template-columns: minmax(min-content, max-content) repeat(4, minmax(min-content, 240px));
  grid-template-rows: min-content repeat(6, 90px) auto;
  grid-template-areas:
  "   ...       header      header      header      header"
  "   ...     compareGrid compareGrid compareGrid compareGrid"
  "rowHeaders compareGrid compareGrid compareGrid compareGrid"
  "rowHeaders compareGrid compareGrid compareGrid compareGrid"
  "rowHeaders compareGrid compareGrid compareGrid compareGrid"
  "rowHeaders compareGrid compareGrid compareGrid compareGrid"
  "rowHeaders compareGrid compareGrid compareGrid compareGrid"
  "   ...      regButton   regButton   regButton   regButton";
  
    
  h2 {
    font-size: 2.25rem;
    @include addBottomPadding(2.25rem);
  }
}

.headerDesktop {
  text-align: center;
  padding: 2rem 0 2rem;
  grid-area: header;
  background-color: $black-backgr;
}


.rowHeadersDesktop {
  grid-area: rowHeaders;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  text-align: right;
  
  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  div:not(:last-of-type) {
    border-bottom: solid 3px white;
  } 
}

.compareDesktop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-area: compareGrid;
  align-self: stretch;
  text-align: center;
  background-color: $black-backgr;

  > div:nth-child(even) {
    background-color: $white15;
  }

  h2 {
    padding: 0 0.5rem;
  }
}

.passInfoDesktop {
  display: grid;
  grid-template-columns: 1fr;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  grid-template-rows: repeat(6, 1fr);

  div:not(:last-of-type):not(:first-of-type) {
    border-bottom: solid 3px white;
  }
}

/* Mobile styling */

.registerMobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
  "header"
  "passInfo"
  "regButton";
  justify-items: center;
  background-color: $black-backgr;
  margin: 1rem;
  padding: 1rem;

  > div {
    max-width: 450px;
    width: 100%;
  }

  @media screen and (max-width: 425px) {
    margin: 0.75rem;
    padding: 0.75rem;
  }
}

.headerMobile {
  text-align: center;
  grid-area: header;
  margin-bottom: 1rem;

  h1 {
    display: inline-block;
    font-size: 3rem;
    @include addBottomPadding(2.25rem);
    // border-bottom: solid white 4px;
    margin-bottom: 1rem;
  }
}

.passSelect {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  li {
    color: $white50;
    @include addBottomPadding(1.5rem);
    padding: 0.35rem 0.4rem !important;
    cursor: pointer;
    font-family: 'Neptune', sans-serif;
    text-transform: uppercase;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: all 200ms;
  }

  @media screen and (max-width: 425px) {
    li {
      font-size: 1.25rem;
    }
  }
  
  @media screen and (max-width: 350px) {
    li {
      font-size: 1rem;
    }
  }

}

.activeLi {
  border: 2px solid $orange !important;
  background-color: $white15;
  color: white !important;
}

.compareWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 0 2rem;
  margin: 0 auto 1rem;
  
  h2 {
    font-size: 1.75rem;
    @include addBottomPadding(1.75rem);
  }

  @media screen and (max-width: 425px) {
    h2 {
      font-size: 1.25rem;
    }
  }
}

.rowHeadersMobile,
.passInfoMobile {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  text-align: center;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0;
  }
  
  > div:not(:last-of-type) {
    border-bottom: solid 3px white;
  }
}

.rowHeadersMobile {
  justify-self: right;
}

.passInfoMobile {
  svg {
    height: 30px;
    width: auto;
  }
}